{% extends 'OperowoMainBundle::layout.html.twig' %}


{% block headline %}
	{% trans %}institutions_list{% endtrans %}
{% endblock %}

{% block content %}
	<div class="span8">

		{% for institution in institutions %}
			<div class="institution">
				<h2>{{ institution.name }}</h2>

				<hr/>
			</div>
		{% endfor %}

		{{ pagination.render() | raw}}
	</div>
{% endblock %}